/Assertions.class
/CommonProgrammingErrorIndefiniteLoop.class
/ContainsSC17.class
/DoWhileSeashoreSC9.class
/ExamineInput1.class
/ExampleOfBooleanFlag.class
/FirstWord.class
/GetInt.class
/IsVowelSC15.class
/Misc.class
/MisusingRandomObject.class
/Pick.class
/Pick2.class
/PrintLettersSC11.class
/RandomOver900SC11.class
/RobustInputSC23.class
/ScannerAverage3SC26.class
/ScannerYouTypedSC25.class
/Sentinel.class
/SentinelMinMaxSC13.class
/StartEndSameSC18.class
/ZeroDigitsSC10.class
/hasPenniesSC19.class
/Exercise_5_15_dominant.class
/Exercise_5_26_anglePairs.class
/Exercise_5_18_digitSum.class
/Exercise_5_19_firstDigit.class
/Exercise_5_16_anglePairs.class
/Exercise_5_20_digitRange.class
/Exercise_5_23_hasAnOddDigit.class
/Exercise_5_22_allDigitsOdd.class
