/Assertions.class
/CommonProgrammingErrorIndefiniteLoop.class
/ContainsSC17.class
/DoWhileSeashoreSC9.class
/ExamineInput1.class
/ExampleOfBooleanFlag.class
/FirstWord.class
/GetInt.class
/IsVowelSC15.class
/Misc.class
/MisusingRandomObject.class
/Pick.class
/Pick2.class
/PrintLettersSC11.class
/RandomOver900SC11.class
/RobustInputSC23.class
/ScannerAverage3SC26.class
/ScannerYouTypedSC25.class
/Sentinel.class
/SentinelMinMaxSC13.class
/StartEndSameSC18.class
/ZeroDigitsSC10.class
/hasPenniesSC19.class
