/SelfCheck_7_16a_countStrings.class
/SelfCheck_7_16b_equalsStrings.class
/SelfCheck_7_17_allLess.class
/SelfCheck_7_21_swapPairs.class
/SelfCheck_7_29_averageLength.class
/SelfCheck_7_30_isPalindrome.class
/SelfCheck_7_32_rectangularArray.class
/SelfCheck_7_33_fiveByTenArray.class
/SelfCheck_7_34_copyColumn.class
/SelfCheck_7_36_jaggedArray.class
/Exercise_7_1_lastIndeOf.class
/Exercise_7_2_range.class
/Exercise_7_3_countInRange.class
/Exercise_7_4_isSorted.class
/Exercise_7_5_mode.class
/Exercise_7_8_median.class
/Exercise_7_9_minGap.class
/Exercise_7_10_percentEven.class
/Exercise_7_12_priceIsRight.class
/Exercise_7_13_longestSortedSequence.class
/Exercise_7_14_contains.class
/Exercise_7_15_collapse.class
/Exercise_7_16_append.class
/Exercise_7_17.class
/Exercise_7_19_matrixAdd.class
/Exercise_7_20_magicSquare.class
